/Scratch.class
/scratch.class
/Exercise04_05.class
/Exercise04_11.class
/Exercise06_13.class
/Exercise06_23.class
/WeatherForecast.class
/Rectangle.class
/Exercise09_01.class
/Exercise09_09.class
/RegularPolygon.class
/Exercise09_13.class
/Location.class
