html
{
    background-color: grey;
    text-align: center;
}


body
{
    margin-top: 10%;
    position: center;
}
div
{   
    background-color: rgb(37, 175, 44);
    width: 50% ;
    

}

form
{
    text-align: center;
}
