@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Hunter Murphy
   Date: 3/20/2019
	
   Filename: br_styles.css

*/

/*Styling for the whole page*/

html
{
	max-width:1000px;
	margin:auto;
	background-image: url(br_paper.png);
	background-color:black;
}


/*Text Styles*/

header
{
	text-align:center;
}

section
{
	background:black;
}

#listing
{
	float:left;
	width:740px;
	height:260px;
	padding-right:14px;
	padding-left:10px;
	font-size:18px;
	background-color:black;
	color:white;
	overflow:hidden;
	
}

#description
{	float:right;
	width:200px;
	height:250px;
	background-color:black;
	color:white;
	padding-left:10px;
	overflow:hidden;
	border-style:solid;
	border-color:blue;
	border-width:5px;
	
}



div
{
	background-color:white;
}

li
{
	text-align:left;
}

/*Navigation Styling*/
nav
{
	background-color: rgb(1,1,1);
	padding-bottom:5px;
	display:flex;
	justify-content:space-around;
}

footer
{
	text-align:center;
	padding-top:15px;
	display:flex;
	justify-content:space-around;
}


/*Image Styling*/






