@charset "utf-8";

/*
        Name: Hunter Murphy
        Date: 8/31/2019
        Assignment: Subscribe to my webpage
        Filename: contact.css

*/

/* Page Stylings*/

html
{
    background: linear-gradient(to bottom, #99ccff 0%, #3366cc 100%);
    height:100%;
    text-align: center;
}

fieldset
{
    background-color: grey;
    width:50%;
    margin: auto;
}

div > p
{
    background-color: white;
    width:25%;
    margin:auto;
    text-align: center;
}