@charset "utf-8";

/*
	Style sheet for Web Design II introduction
	
	Author: Hunter Murphy
	Date: 8/20/2019
	
	filename: introduction_Styles.css
*/


/*Structural Styles */
html
{
	background-color: white;
}

header
{
	padding-right: 100px;
	padding-bottom: 250px;
	background-color:blue;
}

h1,h2,h3
{
	background-color:white;
	width:200px;
}

.leftShift
{
	float:left;
	clear:left;
}

/*Image Styles */

#tlk
{
	transform: rotate(90deg);
	padding-top:100px;
}

img
{
	float:left;
	clear:left;
}