@charset "utf-8";

/*
	Style sheet for Web Design II introduction
	
	Author: Hunter Murphy
	Date: 8/20/2019
	
	filename: introduction_Styles.css
*/


/*Structural Styles */
html
{
	background-color: black;
	color:white;
}

section
{
	background-color:#fc5d5d;
	width:50%;
	height:700px;
}

article
{
	float:right;
	clear:both;
	width:100%;
	position:relative;
	top:-745px;
	color:white;
}

header
{
	padding-right: 100px;
	padding-bottom: 400px;
	background-color:#000066;
}

h1,h2,h3
{
	background-color: #0000ff;
	width:200px;
}

#family
{
	background-color: #a80707;
	width:100%;
	padding-left:10px;
	padding-top:10px;
	position:relative;
	top:-25px;
}

#music
{
	padding-top:10px;
	width:50%;
	float:right;
	padding-left:10px;
	position:relative;
	right:-10px;
}
#musicDescr
{
	float:right;
	width:50%;
	position:relative;
	left:10px;
	bottom:20px;
}

.leftShift
{
	float:left;
	clear:left;
	
}

Strong
{
	color:black;
	float:left;
	position:relative;
	top:-10px;
}

/*Image Styles */
img
{
	float:left;
	clear:both;
}


#tlk
{
	transform: rotate(90deg);
	position:relative;
	top:100px;
}


.Nixa
{
	Float:left;
	clear: right;
	width:300px;
	height:300px;
	position:relative;
	top:40px;
	right:200px;
}

.imgRight
{
	float:right;
}